
{% extends 'base.html' %}
{% load static %}

{% block contents %}




<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <!-- {% include 'includes/alerts.html' %} -->

    <div class="container">
        <div class="row">

            {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Edit Your Profile</strong>
                
            </header>
            <div class="card-body">
                <div class="text-center">
                    <img src="{{userprofile.profile_picture.url}}" width="100" style="border-radius: 50%;" alt="Profile Picture">
                </div>
                <div class="row">   
                    <div class="col-md-12">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>First Name</label>
                                    {{user_form.first_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Last Name</label>
                                    {{user_form.last_name}}
                                </div>
                            </div>
                            <div class="form-row">
                                   <div class="form-group col-md-6">
                                    <label>Mobile No</label>
                                    {{user_form.mobile_number}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Profile Picture</label>
                                    {{profile_form.profile_picture}}
                                </div>
                            </div>
                       
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label>Address Line 1</label>
                                    {{profile_form.address_line_1}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label>Address Line 2 </label>
                                    {{profile_form.address_line_2}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                    {{profile_form.city}}
                                </div>
                                <div class="form-group col-md-4">
                                    <label>State</label>
                                    {{profile_form.state}}
                                </div>
                                    <div class="form-group col-md-4">
                                    <label>Country</label>
                                    {{profile_form.country}}
                                </div>
                            </div>
                            <div>
                             <div class="form-group">
            <div id="image-box" class="image-container"></div>
            <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
            <button class="btn btn-outline-info" id="confirm-btn" style="width: 100%; margin-top: 10px;" type="submit">Save</button>            
          </div>
                            </div>


                            
                        </form>


                    </div>


                </div> <!-- row.// -->
            </div> <!-- card-body .// -->

            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

// image-box is the id of the div element that will store our cropping image preview
const imagebox = document.getElementById('image-box')
      // crop-btn is the id of button that will trigger the event of change original file with cropped file.
const crop_btn = document.getElementById('crop-btn')
// id_image is the id of the input tag where we will upload the image
const input = document.getElementById('id_profile_picture')

var filePath = input.value;
var allowedExtensions =  /(\.jpg|\.jpeg|\.png|\.gif)$/i;
const postForm = document.getElementById('post-form')
  console.log(postForm)

// When user uploads the image this event will get triggered
input.addEventListener('change', (e)=>{
  console.log(input.value)
  const img_data = input.files[0]
  value=img_data.type
  
  if (value == "image/jpeg" || value == "image/jpg" || value == "image/png") {
   
  const url = URL.createObjectURL(img_data)
  imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`
  const image = document.getElementById('image')
  document.getElementById('image-box').style.display = 'block'
  document.getElementById('crop-btn').style.display = 'block'
  document.getElementById('confirm-btn').style.display = 'none'
  const cropper = new Cropper(image, {
  aspectRatio: 1 / 1,
  autoCropArea: 1,
  viewMode: 1,  
  scalable: false,
  zoomable: false,
  movable: false,
  minCropBoxWidth: 200,
  minCropBoxHeight: 200,
  })
  crop_btn.addEventListener('click', ()=>{
    cropper.getCroppedCanvas().toBlob((blob)=>{
      let fileInputElement = document.getElementById('id_profile_picture');
      let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
      let container = new DataTransfer();
      container.items.add(file);
      fileInputElement.files = container.files;
      document.getElementById('image-box').style.display = 'none'
      document.getElementById('crop-btn').style.display = 'none'
      document.getElementById('confirm-btn').style.display = 'block'

      });
    });

}else{
  Swal.fire({
  icon: 'error',
  title: 'Not Image',
  text: 'The file is not an image..!! Please upload image',
  })
  
  input.value = '';
  return false;
}

  });

</script>
            
    


{% endblock %}