

<footer class="py-4 bg-dark mt-auto" style="
z-index: 1;
position: fixed;
padding: 10px 10px 0px 10px;
bottom: 0;
width: 100%;
/* Height of the footer*/ 
height: 40px;
">
	<div class="container-fluid px-4" >
		<div class="d-flex align-items-center justify-content-between small">
			<div class="text-muted">Copyright &copy; F Kart | Fashion First 2021</div>
			<div>
				<a href="#">Privacy Policy</a>
				&middot;
				<a href="#">Terms &amp; Conditions</a>
			</div>
		</div>
	</div>
</footer>
<!-- ========================= FOOTER END // ========================= -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->


<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src',$(this).attr("href"));
		});

	})

</script>

</body>
</html>