{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark text-white">
  <a class="navbar-brand col-lg-2 col-md-3 col-6" href="{% url 'home' %}">
     <img class="logo img-fluid" src="{% static './images/fashion_first_logo.png' %}" alt="Fashion First Kart">
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav my-0">
      <li class="nav-item my-2 ml-3 mr-3">
        <a class="nav-link btn btn-outline-warning text-warning my-1" href="{% url 'store' %}">Store</a>
      </li>

      <li class="nav-item dropdown my-2 ml-3 mr-3">
        <a class="nav-link dropdown-toggle btn btn-warning text-dark my-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars"></i> All category
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
        {% for category in links %}
          <a class="dropdown-item text-warning" href="{{category.get_url}}">{{category.category_name}} </a>
          {% endfor %}
          </div>
      </li>
    </ul>

    <form class="form-inline my-2 mx-auto" action="{% url 'search' %}" method="GET">
      <div class="input-group-append">
      <input class="form-control" style="width:300px !important;" type="search" placeholder="Search" aria-label="Search" name="keyword">
      <button class="btn btn-warning" type="submit"><i class="fa fa-search"></i></button>
      </div> 
    </form>

<div class="d-flex flex-wrap">        
    <div class="input-group-append col ml-auto my-2">
    <a id="navWishCart" href="{% url 'add_wishlist' %}" class="widget-header pl-1 ml-1">
        <div class="icon icon-sm rounded-circle border"><i class="fa fa-heart"></i></div>
        <span id="wishCount" class="badge badge-pill badge-danger notify">{{wish_items}}</span>
    </a>
    </div>

    <div class="input-group-append col my-2">
    <a href="{% url 'cart' %}" class="widget-header pl-1 ml-1">
        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
        <span id="cartCount" class="notify">{{cart_count}}</span>
    </a>
    </div>
 <div>
    {% if user.id is not None %}
    <ul class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle my-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <small class="title text-muted">Welcome {{user.first_name}} !</small>
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="text-warning ml-2" href="{% url 'dashboard' %}">Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="text-warning ml-2" href="{% url 'logout' %}" style="color:white"> Logout </a>
            </div>
        </ul>
    {% else %}

    <ul class="nav-item dropdown">

            <a class="nav-link dropdown-toggle my-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <small class="title text-muted">Welcome Guest !</small>
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="text-warning ml-2" href="{% url 'login' %}">Sign in</a> 
            <div class="dropdown-divider"></div>
            <a  class="text-warning ml-2" href="{% url 'register' %}"> Register</a>
            </div>
        </ul>

    {% endif %}
</div>

</div>
</div>
</nav>

