{% extends 'mycartadmin/admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contents %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
       
 
    <div class="card mx-auto" style=" margin-top:10px; margin-bottom:50px">
            
                
  <div class="row mt-3">
    <div class="col-md-6" style="height: 50%; margin: auto;">
        <form  action="{% url 'add_coupon' %}" method="POST" enctype="multipart/form-data" id="addCouponForm" style="margin-bottom: 20px;">
          {% csrf_token %}
          <fieldset class="">
            <legend class="border-bottom mb-4">Add Coupon</legend>
            {% include 'includes/alerts.html' %}
            {{ form | crispy }}
          </fieldset>

          <div class="">
            <div id="image-box" class="image-container"></div>
            <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
            <button class="btn btn-outline-info" id="confirm-btn" style="width: 100%; margin-top: 10px;" type="submit">Add Coupon</button>            
          </div>
          </form>


    </div>
</div>


<script>
  $(document).ready(function() {
    setTimeout(function(){
    
        $('#message').fadeOut('slow')
        },4000)
    })
</script>

<script>
$(document).ready(function(){

jQuery.validator.addMethod("noSpace", function(value, element) { 
  return value.indexOf(" ") < 0 && value != ""; 
}, "No space please and don't leave it empty");
})

$('#addCouponForm').validate({
  rules:{
    code:{
      noSpace:true,
      required:true,
      minlength:5,
      },
    valid_from:{
      required:true,
      
  },
  valid_to:{  
      required:true,
          },
          
  discount:{  
    required:true,
    min:1,
    max:75,
  },       
},
messages:{
  code:{
    required:"Enter a offer name.",
    minlength:"Minimum 5 characters required.",
    },
  valid_from:{
    required:"Select a start date.",  
    },
  valid_to:{  
    required:"Select a end date.",
    },
  discount:{  
    required:"Please add a discount percentage between 1 to 75.",
    min:"Minimum discount is 1%.",
    max:"Maximum of 75% is allowed.",
  },
},
})

</script>


<script>
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0');
  var yyyy = today.getFullYear();

  today = yyyy + '-' + mm + '-' + dd;
  $('#id_valid_from').attr('min', today);
  $('#id_valid_to').attr('min', today);
  document.getElementById('id_valid_from').onchange = e => {
      value = e.target.value
      $('#id_valid_to').attr('min', value);
  }


</script>
            
{% endblock %}