
{% extends 'mycartadmin/admin_base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block contents %}




<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <!-- {% include 'includes/alerts.html' %} -->

<div class="container">
<div class="row">
<div class="col-md-6" style="height: 50%; margin:auto; margin-top:20px; margin-bottom:50px">

<form action="" method="POST" enctype="multipart/form-data" id="editCatOfferForm" style="margin-bottom: 20px; padding: 30px 20px;">
    {% csrf_token %}
    <fieldset class="form-group">
      
      <legend class="border-bottom mb-4">Edit Category Offer </legend>
      {% include 'includes/alerts.html' %}

      {{ form | crispy }}
    </fieldset>

    <div class="form-group">
      <div id="image-box" class="image-container"></div>
      <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
      <button class="btn btn-outline-info" id="confirm-btn" style="width: 100%; margin-top: 10px;" type="submit">Update Offer</button>            
    </div>
      </form>
</div>
    </div> <!-- row.// -->
</div> <!-- card-body .// -->

</article> <!-- order-group.// --> 
</main>
</div> <!-- row.// -->
</div>


</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

<script>

      
$('#editCatOfferForm').validate({
rules:{
  code:{
    required:true,
    minlength:5,
  },
  category_id:{
    required:true,
  },
  valid_from:{
    required:true,
  },
  valid_to:{  
    required:true,
  },
  discount:{  
    required:true,
    min:1,
    max:75,
  },       
},
messages:{
  code:{
    required:"Enter an offer name.",
    minlength:"Minimum 5 characters needed.",
  },
  category_id:{
    required:"Please select category",
  },  
  valid_from:{
    required:"Select a start date.",
  },
  valid_to:{  
    required:"Select a end date.",
  },
  discount:{  
    required:"Please add a discount percentage between 1 to 75.",
    min:"Minimum discount is 1%.",
    max:"Maximum of 75% is allowed.",
  },
}
})


    </script>
    
<script>
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0');
  var yyyy = today.getFullYear();

  today = yyyy + '-' + mm + '-' + dd;
  $('#id_valid_from').attr('min', today);
  $('#id_valid_to').attr('min', today);
  document.getElementById('id_valid_from').onchange = e => {
      value = e.target.value
      $('#id_valid_to').attr('min', value);
  }


</script>
          


{% endblock %}