{% extends 'mycartadmin/admin_base.html' %}
{% load static %}

{% block contents %}

<!-- ========================= SECTION MAIN ========================= -->
{% include 'includes/alerts.html' %}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total Users</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h4 class="text-center"><strong>{{total_user_no}}</strong></h4><br>
                <a class="small text-white stretched-link" href="{% url 'usermanage' %}">View User Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Total Orders </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h4 class="text-center"><strong>{{total_ord_no}} Orders</strong></h4><br>
                <a class="small text-white stretched-link" href="{% url 'admin_orders' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Total Sales Value</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h4 class="text-center"><strong>Rs. {{total_order_value}}</strong></h4><br>
                <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Average value per order</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h4 class="text-center"><strong>Rs. {{avg_ord_value}}</strong></h4><br>
                <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Orders per day
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Order Value per day
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Products per category
            </div>
            <div class="card-body"><canvas id="myPieChart" width="100%" height="60"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Latest Orders
                    </div>
                    <div class="card-body">
                    {% for order in latest_order %}
                    <ul> {{order.order_number}} | {{order.first_name}} | {{order.order_total}}| {{order.status}}</ul>

                    {% endfor %}
                    </div>
                </div>
    </div>
</div>


{% comment %} 


<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total Users</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h4 class="text-center"><strong>{{total_user_no}}</strong></h4><br>
                <a class="small text-white stretched-link" href="{% url 'usermanage' %}">View User Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Total Orders </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h4 class="text-center"><strong>{{total_ord_no}} Orders</strong></h4><br>
                <a class="small text-white stretched-link" href="{% url 'admin_orders' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Total Sales Value</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h4 class="text-center"><strong>Rs. {{total_order_value}}</strong></h4><br>
                <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Average value per order</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h4 class="text-center"><strong>Rs. {{avg_ord_value}}</strong></h4><br>
                <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

 {% endcomment %}















  {%block scripts%}
  <script>
    // jquery function
    new Chart(document.getElementById("myAreaChart"), {
        type: 'line',
        data: {
          labels: {{labels | safe }},
          datasets: [
            {
              label: "Orders in a day",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              <!-- fill:false, -->
              data: {{ data | safe }}
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            
            text: 'Orders generated in the last 7 days'
          }
        }
    });


    new Chart(document.getElementById("myBarChart"), {
        type: 'bar',
        data: {
          labels: {{labels | safe }},
          datasets: [
            {
              label: "Order value generated per day",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data:{{val_data | safe}},
              
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Order value generated for the last 7 days'
          }
        }
    });


 new Chart(document.getElementById("myPieChart"), {
        type: 'pie',
        data: {
          labels: {{category | safe }},
          datasets: [
            {
              label: "No of products per category",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data:{{cat_prod_qty | safe}},
              
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'No of products per category'
          }
        }
    });



    </script>
{%endblock scripts%}

  
{% endblock %}