{% extends 'mycartadmin/admin_base.html' %}
{% load static %}

{% block pagename %} Order Management {% endblock %}
{% block contents %}

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet" />

<div class="card mb-4 mt-4">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Orders
      {% include 'includes/alerts.html' %}
    
  </div>
  <div class="card-body">
    <table id="datatablesSimple" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                      <th>Customer Name</th>
                      <th>Order No</th>
                      <th>Order Value</th>
                      {% comment %} <th>Phone No</th> {% endcomment %}
                      <!-- <th>Email</th> -->
                      <th>City</th>
                      <th>State</th>
                      <th>Order Value</th>
                      <th>Status</th>
                      <th></th>
                      {% comment %} <th></th> {% endcomment %}
                     
                </tr>
            </thead>
            <tbody>
                  {% for order in orders %}
                    <form action="{% url 'update_order_status' order.order_number %}" method="POST">
                      {% csrf_token %}
                    <tr class="gradeX">
                      <td>{{order.full_name}}</td>
                      <td>{{order.order_number}}</td>
                      <td>{{order.created_at}}</td>
                      {% comment %} <td>{{order.phone}}</td> {% endcomment %}
                      <!-- <td>{{order.email}}</td> -->
                      <td>{{order.city}}</td>
                      <td>{{order.state}}</td>
                      {% if order.discount_amount is None %}
                      <td class="text-right">₹ {{order.order_total}}</td>
                      {% else %}
                      <td class="text-right">₹ {{order.nett_paid}}</td>
                      {% endif %}


                       <td>{{order.status}}</td>
                       {% if order.status == "Cancelled" %}
                      <td>Order Cancelled</td>
                      {% elif order.status == "Order Delivered" %}
                      <td>Order Delivered</td>
                      {% else %}
                      <td><a href="{% url 'update_order_status' order.order_number %}" 
                              onclick="return confirm('Are you sure you want to UPDATE this product?')">
                              <button class="btn btn-primary btn-sm "> <i class="icon-edit"></i>UPDATE</button></a></td>             
                      {% comment %} <td><input type="submit" onclick="updateStatus()" value="Update"></td> {% endcomment %}
                      <!-- <td class="center">4</td> -->
                      {% endif %}
                      </form>
                    </tr>
                  
                    {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                      <th>Customer Name</th>
                      <th>Order No</th>
                      {% comment %} <th>Phone No</th> {% endcomment %}
                      <!-- <th>Email</th> -->
                      <th>City</th>
                      <th>State</th>
                      <th>Order Value</th>
                      <th>Status</th>
                      <th>Update Status</th>
                      {% comment %} <th></th> {% endcomment %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}