{% extends 'mycartadmin/admin_base.html' %}
{% load static %}

{% block pagename %} Product Management {% endblock %}
{% block contents %} 

<div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Products
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                <div class="text-right mb-3 col6"><hr><a href="{% url 'add_product' %}" class="btn btn-primary"> Add Product </a>
                </div>

                        <tr>
                            <th>Sl No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Category</th>
                            <!-- <th>Sub-Category</th> -->
                            <th>Price</th>
                            {% comment %} <th>Add Images</th> {% endcomment %}
                            <th>Edit</th>
                            <th>Delete</th>
                          
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Sl No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Category</th>
                            <!-- <th>Sub-Category</th> -->
                            <th>Price</th>
                            {% comment %} <th>Add Images</th> {% endcomment %}
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{forloop.counter}})</td>
                            <td>{{product.product_name}}</td>
                            <td><img src="{{product.images.url}}" class="img-fluid" style="width: 4em;"></td>
                            <td>{{product.category}}</td>
                            <!-- <td>{{prod.sub_category}}</td> -->
                            <td>{{product.price}}</td>
                            {% comment %} <td><a href="{% url 'add_gallery_images' product.id %}" 
                              onclick="return confirm('You are goung to add images to this Product. Continue?')">
                              <button class="btn btn-primary btn-sm "> <i class="icon-edit"></i> Add Images </button></a></td> {% endcomment %}
                            <td><a href="{% url 'edit_product' product.id %}" 
                              onclick="return confirm('Are you sure you want to EDIT this product?')">
                              <button class="btn btn-primary btn-sm "> <i class="icon-edit"></i> Edit</button></a></td>
                            <td><a href="admin_prod_delete/{{product.id}}"
                              onclick="return confirm('Are you sure you want to DELETE this product?')" >
                              <button class="btn btn-danger btn-sm"> <i class="icon-trash"></i> Delete </button></a></td>
                        </tr>
                        {% endfor %}
             
                    </tbody>
                </table>
            </div>
        </div>


{% endblock %}