{% extends 'mycartadmin/admin_base.html' %}
{% load static %}

{% block pagename %} Order Management {% endblock %}
{% block contents %}

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<div class="container">
<div>
<form method="POST" action="{% url 'sales_report' %}">
                {% csrf_token %}
              <hr > 
              <label for="from_date" style="float: left; "> From </label> 
              <input id= "from_date" type="date" name="from_date" placeholder="From Date" class="form-control col-2 m-2" style="float:left" required> 
              <label for="to_date" style="float: left;"> To </label> 
              <input type="date" id="to_date" name="to_date" class="form-control col-2 m-2" placeholder="To Date" style="float:left" required> 
              <button type="submit" class="btn btn-primary m-2">Filter Orders</button> 
              <!-- <a href="{% url 'order_report' %}" class="btn btn-info mr-2 ml-2">Generate Report </a> --></form>
  </div>
 </div>

 {% if not orders %}
 <div> 
 <h4 class="text-center mt-5"> No orders found in this range. Please check with some other dates. </h4>
 </div>
 {% else %}
<div class="card mb-4 mt-4">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Orders
      {% include 'includes/alerts.html' %}
      
  <div class="card-body">
    <table id="example" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                      <th>Customer Name</th>
                      <th>Order No</th>
                      <th>Order Dt</th>
                      {% comment %} <th>Phone No</th> {% endcomment %}
                      <!-- <th>Email</th> -->
                      <th>City</th>
                      <th>State</th>
                      <th>Order Value</th>
                      <th>Status</th>
                      
                      {% comment %} <th></th> {% endcomment %}
                     
                </tr>
            </thead>
            <tbody>
                  {% for order in orders %}
                    <form action="{% url 'update_order_status' order.order_number %}" method="POST">
                      {% csrf_token %}
                    <tr class="gradeX">
                      <td>{{order.full_name}}</td>
                      <td>{{order.order_number}}</td>
                      <td>{{order.created_at}}</td>
                      {% comment %} <td>{{order.phone}}</td> {% endcomment %}
                      <!-- <td>{{order.email}}</td> -->
                      <td>{{order.city}}</td>
                      <td>{{order.state}}</td>
                      <td class="text-right">₹ {{order.order_total}}</td>
                      <td>{{order.status}}</td>
                      
                      </form>
                    </tr>
                  
                    {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                      <th>Customer Name</th>
                      <th>Order No</th>
                      {% comment %} <th>Phone No</th> {% endcomment %}
                      <!-- <th>Email</th> -->
                      <th>Order Dt</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Order Value</th>
                      <th>Status</th>
                   
                      {% comment %} <th></th> {% endcomment %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif %}

</div>


  
<script>
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0');
  var yyyy = today.getFullYear();

  today = yyyy + '-' + mm + '-' + dd;
  $('#from_date').attr('max', today);
  $('#to_date').attr('max', today);
  document.getElementById('from_date').onchange = e => {
      value = e.target.value
      $('#to_date').attr('min', value);
  }


</script>


{% endblock %}