{% extends 'mycartadmin/admin_base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block contents %}




<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
    <!-- {% include 'includes/alerts.html' %} -->

    <div class="container-fluid">
        <div class="row-fluid">

          <div class="col-md-6" style="height: 50%; margin: auto;">
           
            <form action="" method="POST" enctype="multipart/form-data" id="post-form" style="margin-bottom: 20px; border: 2px solid grey; padding: 30px 20px;">
                {% csrf_token %}
                <div class="text-center mb-2">
                  <img src="{% static './images/fashion_first_logo.png' %}" width="100" style="border-radius: 2%;" alt="Logo">
              </div>
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Update Order Status</legend>
                  {% include 'includes/alerts.html' %}
                  {{ form | crispy }}
                </fieldset>
      
                <div class="form-group">
                  <div id="image-box" class="image-container"></div>
                  <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                  <button class="btn btn-outline-info" id="confirm-btn" style="width: 100%; margin-top: 10px;" type="submit">Update Order Status</button>            
                </div>
                  </form>
                  </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->

            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    


{% endblock %}