{% extends 'mycartadmin/admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contents %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <legend class="text-center border-bottom mb-4 p-3">Image Gallery</legend>
    {% include 'includes/alerts.html' %}
 
    <div class="card mx-auto p-2" style=" margin-top:10px; margin-bottom:60px">
     
           <form id="imgSearch" action="" method="POST">
             {% csrf_token %}
            
            <div class="form-row">
              
              <div class="col-md-6 form-group" id="product_name">
                 
                    
                    <select name="product" id="" class="form-control" required>
                      <option value="" disabled selected>Select a Product</option>
                      {% for p in product %}
                        <option value="{{p.id}}">{{p.product_name}}</option>
                      {% endfor %}
                    </select>
                    
              </div> <!-- form-group end.// -->
             <div>
              <button class="form-group btn btn-primary ml-2" type="submit">Search</button>
             </div>
             <div>
              <a href="{% url 'view_product_images' %}" class=" btn btn-outline-primary ml-2">Clear Search</a>
             </div>
          </div> <!-- form-row end.// -->


           </form>
         
            <div class="row" style="margin-bottom:30px">
            {% for image in gallery_images %}
            <div class="col-md-3">
              
              <div class="card card-product-grid pt-2 mb-3" style="height: 18rem"> 
               
                  <img src="{{image.image.url}}">
                  <form action="{% url 'del_gal_image' image.id %}" method="POST">
                    {% csrf_token %}
                  <div class="card-img-overlay text-right ">
                        <button class="btn btn-outline-warning"  onclick="return confirm('Are you sure you want DELETE this image?')" type="submit">Delete</button>
                  </div>
                </form>
                  <figcaption class="info-wrap">
                    <strong><p class=" ml-2">{{image.product.product_name}}</p></strong>
                </figcaption>
               

                   </div>
                   
          </div> <!-- col.// -->
          {% endfor %}
    </div>
    </div>


    <script>

      $('#imgSearch').validate({
        rules:{
          product:{
            required:true,
            },
    },
    messages:{
      product:{
          required:"Select product from the list to search.",        
            },
    },
    
    
      })
    
    </script>
    






<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

function deleteImg(prod_id,cartitem){
	
	var proId = prod_id
	var cartId = cartitem
	
	Swal.fire({
	  title: 'Remove Item?',
	  text: "Are you sure want to remove this? You will not be able to revert this..",
	  icon: 'warning',
	  showCancelButton: true,
	  confirmButtonColor: '#3085d6',
	  cancelButtonColor: '#d33',
	  confirmButtonText: 'Remove Item'
	}).then((result) => {
	  if (result.isConfirmed) {
		$.ajax({		
		  method: "GET",
		  url: "{% url 'remove_cart_item' %}",
		  data : { prod_id : prod_id, cartitem: cartitem },
		  success:function(response){
			
		   
			Swal.fire(
			  'Item removed',
			  'Item has been successfully removed from cart.',
			  'success'
			)
		  location.reload();
  
		  }
		})
	   
	  }
	})
  }

</script>
<script>

function fileValidation() {
var fileInput = document.getElementById('file');
  
var filePath = fileInput.value;

// Allowing file type
var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
  
if (!allowedExtensions.exec(filePath)) {
    alert('Invalid file type');
    fileInput.value = '';
    return false;
} 
else 
{
  
    // Image preview
    if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById(
                'imagePreview').innerHTML = 
                '<img src="' + e.target.result
                + '"/>';
        };
          
        reader.readAsDataURL(fileInput.files[0]);
    }
}
}
</script>

<script>

// image-box is the id of the div element that will store our cropping image preview
const imagebox = document.getElementById('image-box')
      // crop-btn is the id of button that will trigger the event of change original file with cropped file.
const crop_btn = document.getElementById('crop-btn')
// id_image is the id of the input tag where we will upload the image
const input = document.getElementById('id_banner_image')

var filePath = input.value;
var allowedExtensions =  /(\.jpg|\.jpeg|\.png|\.gif)$/i;
const postForm = document.getElementById('post-form')
  console.log(postForm)

// When user uploads the image this event will get triggered
input.addEventListener('change', (e)=>{
  console.log(input.value)
  const img_data = input.files[0]
  value=img_data.type
  
  if (value == "image/jpeg" || value == "image/jpg" || value == "image/png") {
   
  const url = URL.createObjectURL(img_data)
  imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`
  const image = document.getElementById('image')
  document.getElementById('image-box').style.display = 'block'
  document.getElementById('crop-btn').style.display = 'block'
  document.getElementById('confirm-btn').style.display = 'none'
  const cropper = new Cropper(image, {
  aspectRatio: 10 / 3,
  autoCropArea: 1,
  viewMode: 1,  
  scalable: false,
  zoomable: false,
  movable: false,
  minCropBoxWidth: 200,
  minCropBoxHeight: 200,
  })
  crop_btn.addEventListener('click', ()=>{
    cropper.getCroppedCanvas().toBlob((blob)=>{
      let fileInputElement = document.getElementById('id_banner_image');
      let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
      let container = new DataTransfer();
      container.items.add(file);
      fileInputElement.files = container.files;
      document.getElementById('image-box').style.display = 'none'
      document.getElementById('crop-btn').style.display = 'none'
      document.getElementById('confirm-btn').style.display = 'block'

      });
    });

}else{
  Swal.fire({
  icon: 'error',
  title: 'Not Image',
  text: 'The file is not an image..!! Please upload image',
  })
  
  input.value = '';
  return false;
}

  });

</script>
            
            
{% endblock %}