{% extends 'base.html' %}
{% load static %}


{% block contents %}

<!-- ============================ COMPONENT 1 ================================= -->
<div>
<section class="container p-3">
{% if not wishlist_items %}
	<h2 class="text-center p-3"> Your wish list is Empty.</h2><br>
	<!-- <h6>Continue shopping.</h6><br> -->
	<div class="text-center pb-3">
		<a href="{% url 'store' %}" class="btn btn-primary">Continue shopping</a>
	</div>

{% else %}
<div class="row text-center">
<div class="col-md-12">
<div class="card ">
<table class="table table-borderless">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th >Product</th>
  <th >Add to Cart/ Remove from list</th> 
</tr>
</thead>
<tbody>

{% for wishlist in wishlist_items %}


<tr>
	<td	>
		<figure class="itemside align-items-center">
			<div class="aside">
				<a href="{{ wishlist.product.get_url }}">  <img src="{{wishlist.product.images.url}}" class="img-sm"></a></div>
			<figcaption class="info">
				<a href="{{ wishlist.product.get_url }}" class="title text-dark">{{wishlist.product.product_name}}</a>
				<small class="text-muted">Price: ₹ {{wishlist.product.price}}</small> 
				{% comment %} <p class="text-muted small">
					{% if wishlist.variations.all %}
						{% for item in wishlist.variations.all %}
						{{item.variation_category | capfirst }} : {{item.variation_value | capfirst}}<br>
						{% endfor %}
					{% endif %}
				</p> {% endcomment %}
			</figcaption>
		</figure>
	</td>
	<td> 
                    <a href="{{wishlist.product.get_url}}" class="btn btn-primary btn-sm m-1" > <i class="fa fa-shopping-cart"></i> Add to cart</a>
					<a onclick="removeWishItem('{{wishlist.product.id}}')" class="btn btn-warning btn-sm m-1" > <i class="fa fa-trash"></i> Remove</a></td>
					</td> 
</tr>

		
{% endfor %}
</tbody>
</table>

</div> <!-- card.// -->
</div>

	


</div> <!-- row.// -->
</section>
{% endif %}
</div>
<!-- ============================ COMPONENT 1 END .// ================================= -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>



  function deleteCartItem(prod_id,cartitem){
	
	var proId = prod_id
	var cartId = cartitem
	
	Swal.fire({
	  title: 'Remove Item?',
	  text: "Are you sure want to remove this? You will not be able to revert this..",
	  icon: 'warning',
	  showCancelButton: true,
	  confirmButtonColor: '#3085d6',
	  cancelButtonColor: '#d33',
	  confirmButtonText: 'Remove Item'
	}).then((result) => {
	  if (result.isConfirmed) {
		$.ajax({		
		  method: "GET",
		  url: "{% url 'remove_cart_item' %}",
		  data : { prod_id : prod_id, cartitem: cartitem },
		  success:function(response){
			
		   
			Swal.fire(
			  'Item removed',
			  'Item has been successfully removed from cart.',
			  'success'
			)
		  location.reload();
  
		  }
		})
	   
	  }
	})
  }
 

  

  function removeWishItem(prod_id){
	var data = { 'prodId' : prod_id }	
	Swal.fire({
	  title: 'Remove Item?',
	  text: "Are you sure want to remove this? You will not be able to revert this..",
	  icon: 'warning',
	  showCancelButton: true,
	  confirmButtonColor: '#3085d6',
	  cancelButtonColor: '#d33',
	  confirmButtonText: 'Remove Item'
	}).then((result) => {
	  if (result.isConfirmed) {
		$.ajax({		
		  method: "GET",
		  url: "{% url 'remove_wish_item' %}",
		  data : data,
		  success:function(response){
  
			Swal.fire(
			  'Item removed',
			  'Item has been successfully removed from cart.',
			  'success'
			)
		  location.reload();
  
		  }
		})
	   
	  }
	})
  }
  </script>


{% endblock %}